.min-h-100{
    min-height: 100px;
}
.bg-g{
    background-color: #c5c5c5;
}
.min-h-200{
    min-height: 200px;
}
.row-g-30 {
    row-gap: 30px;
}
@media (max-width: 768px) {
    .min-h-300{
        min-height: 300px;
    }
    
}